@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  direction: rtl !important;
}
.text-rtl {
  direction: rtl !important;
}
.text-ltr {
  direction: ltr !important;
}
.tr-4 {
  transition: 0.4s ease;
}
.swiper {
  width: 90% !important;
  height: 100% !important;
  background: #121318 !important;
}
.swiper-slide {
  text-align: center !important;
  font-size: 18px !important;
  background: #121318 !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.swiper-slide img {
  display: block !important;
  width: 100% !important;
  height: 100% !important;
  object-fit: cover !important;
  background: #121318 !important;
}
.section-title::after,
.section-title::before {
  content: "";
  position: absolute;
  background-color: white;
  width: 40%;
  height: 3px;
  transform: translateY(-50%);
  top: 50%;
}
@media (max-width: 1150px) {
  .section-title::after,
  .section-title::before {
    width: 36%;
  }
}
@media (max-width: 800px) {
  .section-title::after,
  .section-title::before {
    width: 30%;
  }
}
@media (max-width: 500px) {
  .section-title::after,
  .section-title::before {
    width: 20%;
  }
}
.section-title::after {
  left: 0;
}
.section-title::before {
  right: 0;
}
header .searchLabel input {
  outline: none;
  border: 1px solid rgb(255 255 255 / 0.75);
}
header .searchLabel input:focus {
  outline: none;

  border: 1px solid #542183;
}
@media (max-width: 1300px) {
  header .searchLabel {
    width: 200px;
  }
}
@media (max-width: 400px) {
  header .searchLabel {
    width: 120px;
  }
}
