@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  -ms-overflow-style: none !important;
  scrollbar-width: none !important;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url("/Site_Background.jpg");

  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  width: 100vw;
  direction: rtl !important;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  background-color: #121318;
}
::-webkit-scrollbar-thumb {
  background-color: #621f9f;
}
/* body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  filter: brightness(50%); 
  z-index: -2;
} */

/* body::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #121318; 
  z-index: -1;
} */
.text-rtl {
  direction: rtl !important;
}
.text-ltr {
  direction: ltr !important;
}
.tr-4 {
  transition: 0.4s ease;
}
.swiper {
  width: 100%;
  height: 100%;
}
.swiper:hover .swiper-Btns {
  opacity: 1;
}
.mySwiperSlider {
  width: 100% !important;
  height: 100% !important;
}

.mySwiper2 {
  width: 100% !important;
}

.swiper-slide {
  text-align: center !important;
  font-size: 18px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.swiper-slide img {
  display: block !important;
  width: 100% !important;
  height: 100% !important;
  object-fit: cover !important;
}
.section-title::after,
.section-title::before {
  content: "";
  position: absolute;
  background-color: white;
  width: 40%;
  height: 3px;
  transform: translateY(-50%);
  top: 50%;
}
@media (max-width: 1150px) {
  .section-title::after,
  .section-title::before {
    width: 36%;
  }
}
@media (max-width: 800px) {
  .section-title::after,
  .section-title::before {
    width: 30%;
  }
}
@media (max-width: 500px) {
  .section-title::after,
  .section-title::before {
    width: 20%;
  }
}
.section-title::after {
  left: 0;
}
.section-title::before {
  right: 0;
}
header .searchLabel input {
  outline: none;
  border: 1px solid rgb(255 255 255 / 0.75);
}
header .searchLabel input:focus {
  outline: none;

  border: 1px solid #542183;
}
@media (max-width: 1300px) {
  header .searchLabel {
    width: 200px;
  }
}
@media (max-width: 400px) {
  header .searchLabel {
    width: 120px;
  }
}

nav ul li {
  color: white;
  position: relative;
  transition: 0.4s ease;
}
nav ul li::after {
  transition: 0.4s ease;
  content: "";
  position: absolute;
  background-color: #621f9f;
  right: 0;
  bottom: -14px;
  width: 0;
  height: 4px;
}
nav ul li:hover:after {
  width: 100%;
}
nav ul li.active::after {
  width: 100%;
}

header::after {
  transition: 0.4s ease;
  position: absolute;
  content: "";
  background-color: rgba(0, 0, 0, 0.9);
  left: 0;
  top: 0;
  width: 100%;
  height: 0;
  z-index: -2;
}
header.activeHeader::after {
  height: 100%;
}
.manga-list-section .cards .card {
  border-radius: 8px;
  overflow: hidden;
  overflow: hidden;
  transition: 0.4s ease;
}
.manga-list-section .cards .card:after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background: rgb(97, 31, 159);
  border-radius: 100px;
  right: -40px;
  bottom: -40px;
  filter: blur(20px);
}
.manga-list-section .cards .card img {
  transition: 0.4s ease;
}
.manga-list-section .cards .card:hover img {
  scale: 1.1;
}
